@model PetHaven.ViewModels.BookingSummaryViewModel
@{
    ViewBag.Title = "Summary";
}

<ul class="nav navbar-nav">
    <li>
        @if (Model.NumberOfItems == 1)
        {
            @Html.ActionLink("Booking for " + Model.NumberOfItems + " animal", "Index", "Booking", new { @class = "nav-link" }) }
        else
        {
            @Html.ActionLink("Booking for " + Model.NumberOfItems + " animals", "Index", "Booking", new { @class = "nav-link" })}
    </li>
</ul>

