@model PetHaven.ViewModels.BookingSummaryViewModel
@{
    ViewBag.Title = "Summary";
}

<ul class="nav navbar-nav">
    <li>
        @Html.ActionLink("Booking for " + Model.NumberOfItems + " animals.", "Index", "Booking")       
    </li>
</ul>