body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.home {
    position: absolute;
    top: 20%;
    left: 5%;
    text-align: center;
    margin-right: 60px;
    margin-left: 60px;
}
 
.pagination li {
    padding: 10px 15px;
    margin-left: 20px;
}

.pagination li.active {
    background: black;
    color: white;
}

.pagination li:hover {
    background: black;
    color: white;
}

.pagination li:hover a {
    color: white;
}

.pagination >* {
    vertical-align: middle;
    display: inline;
}

.ptitle {
    margin-top: 5px;
    margin-right: 7px;
}

.home {
    background-color: rgba(191, 191, 191, 0.4);
    padding: 60px;
}

.homeBackground {
    background: url('pethavenlogo.png') center fixed;
    /*overflow: hidden !important;*/
    /*background-size: cover;*/
    background-position-x: 70%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.Contact {
    min-height: 105vh;
    width: 100%;
    background-color: var(--white);
}

    .Contact .content {
        margin-top: 15vh;
        padding-top: 0;
    }

.contact-grid {
    display: grid;
    grid-template-columns: .8fr 1fr;
    grid-column-gap: 50px;
    font-size: 20px;
}

.contact_form_div {
    width: 100%;
}

.contact_form {
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.2);
    padding: 30px 50px;
    max-width: 700px;
}

    .contact_form .row {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-row-gap: 10px;
        padding-bottom: 30px;
    }

    .contact_form .col2 * {
        width: 100%;
        background-color: #F6F9FC;
        border: none;
        padding: 5px 20px;
        box-sizing: border-box;
        font-size: 20px;
    }

        .contact_form .col2 *:focus {
            background-color: #fff;
        }

    .contact_form .col2 input[type=submit] {
        color: white;
        background-color: #88CAD2;
        cursor: pointer;
        box-shadow: 0 0px 10px 0 rgba(0,0,0,0.2);
        /* transition: transform 250ms ease-in; */
        transition: box-shadow 250ms;
        padding: 5px 0px;
        font-size: 26px;
    }


        .contact_form .col2 input[type=submit]:hover {
            /* transform: scale(1.02); */
            box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
        }

    .contact_form textarea {
        resize: none;
    }
