@{
    ViewBag.Title = "About Us";
}
<br />
<br />


<h2>@ViewBag.Title</h2>
<hr />
<br />
<br />
<br />

<h4>Banking Details:</h4>
<p>Bank: FNB/RMB</p>
<p>Branch Code: 250655</p>
<p>Account Number: 53781076429</p>
<p>Account Name: Pet Haven NGO</p>

