@{
    ViewBag.Title = "About Us";
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>

<br />
<br />
<h2>@ViewBag.Title</h2>
<hr />

<div class="about">
    <div class="inner-section">
        <p class="text">
            Pet Haven is a non-profiting organisation that's main goal is to reach lost/homeless and abused animals find a good and loving home. We take extreme health measures in ensuring our animals are well taken care off and are healthy to go into new homes. As an NGO/NPO Pet Haven accepts donations from the community in whatever way is possible. If you wish to donate a sum of money our banking details are given below. You are also more than welcome to drop off food, toys and other essentials our animals need at our Shelter in Westville.
        </p>

        <div class="skills">
            <button>Contact Us</button>
        </div>
    </div>
</div>

@*<h2>@ViewBag.Title</h2>
    <hr />
    <br />
    <br />
    <br />

    <h4>Banking Details:</h4>
    <p>Bank: FNB/RMB</p>
    <p>Branch Code: 250655</p>
    <p>Account Number: 53781076429</p>
    <p>Account Name: Pet Haven NGO</p>*@
