@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<br />
<br />
<h4>Telephone number:</h4>
<p>
    031 266 5701
</p>
<br />
<h4>E-mail Address:</h4>
<p>
    <a href="mailto:information@pethaven.co.za">information@pethaven.co.za</a><br />
</p>
<br />
<h4>Postal Address:</h4>
<p>
    Postbox 357,<br />
    Link Road,<br />
    3630
</p>
<br />
<h4>Address:</h4>
<p>
    1 Link Road,<br />
    Westville,<br />
    Durban,<br />
    3630
</p>