@{
    ViewBag.Title = "Donations";
}
<h2>@ViewBag.Title</h2>
<br />
<br />
<br />
<h3>Banking Details:</h3>
<br />
<p>Bank: ABSA</p>
<p>Branch Code: 198782</p>
<p>Account Number: 5641231230</p>
<p>Accoount Holder: Pet Haven</p>

