@{
    ViewBag.Title = "Home";
}

<style>
    .body-content, .container {
        padding: 0;
        margin: 0;
        width: 100vw;
    }

    .homepage {
        width: 100vw;
    }

    .slider {
        height: 100vh;
        width: 100vw;
    }

    .slides {
        height: 100vh;
    }

    .slide img {
        width: 100vw;
        height: 100vh;
    }

    .navigation-manual {
        position: absolute;
        left: 50%;
        top: 90%;
        transform: translateX(-50%) translateY(-28%);
        margin: 0;
        padding: 0;
    }

    .navigation-auto {
        position: absolute;
        left: 50%;
        top: 90%;
        transform: translateX(-50%) translateY(-45%);
        margin: 0;
        padding: 0;
    }
</style>

<body style="overflow:hidden">
    <div class="homepage">
        <!--image slider start-->
        <div class="slider">
            <div class="slides">
                <!--radio buttons start-->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <!--radio buttons end-->
                <!--slide images start-->
                <div class="slide first">
                    <img src="~/Content/SliderImages/image1.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="~/Content/SliderImages/image2.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="~/Content/SliderImages/image3.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="~/Content/SliderImages/image4.jpg" alt="">
                </div>
                <!--slide images end-->
                <!--automatic navigation start-->
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
                <!--automatic navigation end-->
            </div>
            <!--manual navigation start-->
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>
            <!--manual navigation end-->
        </div>
        <!--image slider end-->
        </div>

        <script type="text/javascript">
            var counter = 1;
            setInterval(function () {
                document.getElementById('radio' + counter).checked = true;
                counter++;
                if (counter > 4) {
                    counter = 1;
                }
            }, 5000);
        </script>
</body>

    <div class="home">
        <div class="homeCenter">
            <h1>Welcome to PetHaven</h1>
            <h5>Where lost animals can find a home</h5>
            <br />
            <br />
            @Html.RouteLink("Browse Our Animals", "AnimalsIndex", new { area = "" }, new { @class = "btn btn-secondary" })
        </div>
    </div>